<div class="container-fluid">
  <div *ngIf="!selectedQuiz.length">
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-primary" (click)="loadQuiz('quiz.csv')">Démarrer le quizz java</button>
        <button class="btn btn-primary"  (click)="loadQuiz('english.csv')">Démarrer le quizz anglais</button>
      </div>
    </div>
  </div>

  <div *ngIf="selectedQuiz.length && !showResults">
    <div class="row">
      <div class="col-lg-12">
        <div class="question">
          <h4>{{selectedQuiz[currentQuestionIndex].question}}</h4>
          <div *ngFor="let option of ['option1', 'option2', 'option3', 'option4']">
            <button (click)="submitAnswer(selectedQuiz[currentQuestionIndex][option])">{{selectedQuiz[currentQuestionIndex][option]}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showResults">
    <div class="row">
      <div class="col-lg-12">
        <h4 *ngIf="score === 100">Perfect Score!</h4>
        <h4 *ngIf="score < 100">Your score: {{score}}%</h4>
        <div *ngIf="score < 100">
          <button (click)="startQuiz()">Retry All</button>
          <button (click)="retryQuiz()">Retry Incorrect Chapters</button>
        </div>
      </div>
    </div>
  </div>
</div>
